@model List<Category>

<div class="container">
    <div class="d-flex align-items-center gap-2">
        <h1 class="mb-2">Categorie </h1>
        <a href="@Url.Action("Create", "Category")"><button class="btn btn-sm btn-outline-secondary"><i class="fa-solid fa-plus"></i> Aggiungi</button></a>
    </div>

    <ul class="list-unstyled">
        @foreach(Category category in Model)
        {
        <li class="mb-2 d-flex align-items-center gap-3">
            <form asp-controller="Category" asp-action="Delete" asp-route-id="@category.Id" method="post">
                @Html.AntiForgeryToken()
                <button type="submit" class="btn-danger" onclick="return confirm('Sei sicuro di voler eliminare la categoria @category.Name?')"><i class="fa-solid fa-trash"></i></button>
            </form>

            <div>@category.Name</div>

            @if(category.Description != null){
            <p><b>Descrizione</b>@category.Description</p>
            }

        </li>
        }
    </ul>
</div>









