<div class="container">
    <h1>Messaggi ricevuti</h1>

    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">Email</th>
                    <th scope="col">Oggetto</th>
                    <th scope="col">Contenuto</th>
                </tr>
            </thead>
            <tbody>

                @foreach(Message message in Model)
                {
                <tr>
                    <td>
                        <form asp-controller="Message" asp-action="Delete" asp-route-id="@message.Id" method="post">
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn-danger" onclick="return confirm('Sei sicuro di voler eliminare il messaggio di @message.Email?')"><i class="fa-solid fa-trash"></i></button>
                        </form> 
                        @message.Email</td>
                    <td>@message.Subject</td>
                    <td>@message.Content</td>
                </tr>
                }
            </tbody>
        </table>
    </div>

</div>