@model PhotoFormModel

<div class="container">

    <form asp-controller="Photo" asp-action="Create" method="post">
        @Html.AntiForgeryToken() @*CSRF*@

        <div class="mb-3">
            <strong>Nome:</strong>
            <input asp-for="Photo.Title" class="d-block w-100" />
            <span asp-validation-for="Photo.Title" class="text-danger"></span> @*qui andrà il messaggio di errore della validazione*@
        </div>
        <div class="mb-3">
            <strong>Immagine:</strong>
            <input asp-for="Photo.Image" class="d-block w-100" />
            <span asp-validation-for="Photo.Image" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <strong>Descrizione:</strong>
            <textarea asp-for="Photo.Description" class="d-block w-100" rows="5"></textarea>
            <span asp-validation-for="Photo.Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <strong>Visibile:</strong>
            <select asp-for="@Model.Photo.Visible">
                <option value="@true">Sì</option>
                <option value="@false">No</option>
            </select>
        </div>
        <div class="mb-3">
            <strong>Categorie:</strong>
            @foreach (var category in Model.Categories)
            {
                <div>
                    <input type="checkbox" name="SelectCategories" value="@category.Value" id="@category.Value" />
                    <label for="@category.Value">@category.Text</label>
                </div>
            }
            @*<select asp-for="SelectIngredients" multiple="multiple" size="5" asp-items="@Model.Ingredients"></select>*@
        </div>

        <div class="text-end">
            <button type="submit" class="btn btn-small btn-info">Aggiungi foto</button>
        </div>

    </form>

</div>