@model List<Photo>

<div class="container">
    <div class="d-flex align-items-center gap-2">
        <h1 mb-2>Foto </h1>
        <a href="@Url.Action("Create", "Photo")"><button class="btn btn-sm btn-outline-secondary"><i class="fa-solid fa-plus"></i> Aggiungi</button></a>
    </div>

    <ul class="row list-unstyled" id="photos-admin">
        @foreach(Photo photo in Model)
        {
        <li class="col-lg-4 col-md-6 col-sm-6">
            <div class="card shadow-sm">
                <h3 class="text-center">@photo.Title</h3>
                                
                <img class="bd-placeholder-img card-img-top" src="@photo.Image" alt="" />

                <p card-text>@photo.Description</p>

                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center gap-2">
                        <a href="@Url.Action("Read", "Photo", new {id= photo.Id})"><button class="btn btn-sm btn-outline-secondary">View</button></a>
                        @if (photo.Visible == true){
                            <span class="text-secondary"><i class="fa-regular fa-eye"></i></span>
                        } else {
                            <span class="text-secondary"><i class="fa-regular fa-eye-slash"></i></span>
                        }
                    </div>

                    <div class="d-flex gap-1">
                        <a href="@Url.Action("Update", "Photo", new {id= photo.Id})"><button class="btn btn-sm btn-outline-secondary">Edit</button></a>
                        <form asp-controller="Photo" asp-action="Delete" asp-route-id="@photo.Id" method="post">
                            @Html.AntiForgeryToken()
                            <button class="btn btn-sm btn-outline-secondary text-danger" onclick="return confirm('Sei sicuro di voler eliminare la foto @photo.Title?')">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </li>
        }
    </ul>
</div>

<style>
    p{
        overflow: auto;
        height: 150px;
        margin-top: 15px;
    }

    img{
        object-fit: cover;
        width: 100%;
        height: 250px;
    }
    .card{
        padding: 20px;
    }
}
</style>









            @*<h3>@photo.Title</h3>
            <img src="@photo.Image" alt="">
            <p>@photo.Description</p>
            <div>@photo.Visible</div>
            <a href="@Url.Action("Read", "Photo", new {id= photo.Id})"><button class="btn-danger rounded-1" width="50">View<i class="fa-solid fa-pen-to-square"></i></button></a>

            <a href="@Url.Action("Update", "Photo", new {id= photo.Id})"><button class="btn-danger rounded-1" width="50">Edit<i class="fa-solid fa-pen-to-square"></i></button></a>
            <form asp-controller="Photo" asp-action="Delete" asp-route-id="@photo.Id" method="post">
                @Html.AntiForgeryToken()
                <button type="submit" class="btn-danger rounded-1" width="50">Delete<i class="fa-solid fa-trash"></i></button>
            </form>*@









@*ci hanno commissionato un lavoro: un fotografo vuole mostrare agli utenti le foto più belle che ha scattato e ci chiede di realizzare una webapp che permetta questo.

Ha bisogno di un’area di amministrazione per gestire le foto, quindi
- vedere tutte quelle inserite (filtrabili)
        - vedere i dettagli di una singola foto
        - aggiungerne di nuove (con validazione)
        - modificarle (con validazione)
        - cancellarle
Ovviamente queste operazioni può svolgerle solo lui, quindi l’accesso alle pagine deve essere protetto da autenticazione.

        Una foto contiene almeno le seguenti informazioni :
        - titolo
        - descrizione
        - immagine (upload)
        - visibile
        - categorie
        Una foto può essere collegata a più categorie, e una categoria può essere collegata a più foto.
        Prevedere quindi anche una semplice pagina di lista, creazione e cancellazione categorie.

Deve essere presente anche una homepage pubblica, nella quale le foto (visibili) sono mostrate agli utenti.
Devono essere filtrabili per titolo.
Prevedere sempre nell’homepage pubblica un semplice form di contatto avente i campi email e messaggio.
Il click sul tasto invia farà partire una richiesta a una nuova api che salverà sul database il messaggio inviato.
L’area di amministrazione va realizzata sfruttando Razor + controller MVC.
La pagina pubblica e l’invio dei messaggi di contatto devono essere gestiti tramite javascript + webapi.*@


